body {
    font-family:"Work Sans", sans-serif;
    margin-left: 100px;
    padding: 0 20px;
}

/*
Color Bar CSS 
*/
.colorBar {
background: linear-gradient(180deg, rgb(247,202,201), rgb(222,194,203), rgb(197,185,205), rgb(171,177,207), rgb(146,168,209), rgb(171,177,207), rgb(197,185,205),rgb(222,194,203),rgb(247,202,201));
width: 100px;
position: fixed;
left: 0;
top:0;
bottom:0;
z-index: -1;
}

.colorBar.animate {
animation: slide 2s infinite linear;
}

@keyframes slide {
    0%{
        background-position-y: 0%;
    }
    100%{
        background-position-y: 100vh;
    }
}

/*
Nav bar CSS
*/
.navbar {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.navbar:hover{
    opacity: 1;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
/*
Overall section CSS
*/
section#intro{
     padding-top: 30vh;
}
section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    clear: both;
    letter-spacing: 0.04em;
}

a{
  color: rgb(92, 112, 149);
  transition: color 0.5s;
}

a:hover{
    color: rgb(239, 176, 196);
}

h1 {
    font-size: 62px;
    margin-top: 0px;
}

h2 {
    font-size: 40px;
    text-align: center;
    
}
/*
Intro CSS/Home Page CSS 
*/

img.profile {
    width: 300px;
    float: right;
    border-radius: 150px;
    margin-left: 50px;

}

/*
About Section CSS
*/
img.about {
    width: 300px;
    float: left;
    margin-right: 50px;

}
section#about{
    text-indent: 20px;
}

/*
Resume Section CSS
*/

 img.resume {
    max-width: 500px;
    box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.25);
 }

 div.resumeHold {
    text-align: center;
 }

 
/*
Project CSS
*/
img.projImg {
    width: 200px;
    margin: auto;
}

section#projects figure{
    width: 200px;
}

div.projectList {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 900px;
    flex-wrap: wrap;
}


/*
Links CSS
*/
div.linkcolumns {
    display: flex;
    align-items: center;
}

div.linkcolumns figure{
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 300px;
}
div.linkcolumns figcaption h5{
    font-weight: 600;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
}
div.linkcolumns figcaption{
    margin-left: 10px;
}

section#links a{
    text-decoration: none;
    font-size: 15px;
}
