body {
    font-family:"Work Sans", sans-serif;

}

/* .intro {
    background-color: gray;
} */
div.navbar {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

div.navbar a{
    text-decoration: none;
    color: inherit;
}

section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    clear: both;
    /* border-radius: 25px;
    text-align: center;
    padding: 50px;
    background: rgb(198, 220, 225) */
}

h1 {
    font-size: 62px;
}

img.profile {
    width: 300px;
    float: right;
    border-radius: 150px;
    margin-left: 50px;

}

img.about {
    width: 300px;
    float: left;
    margin-right: 50px;

}
 img.resume {
    max-width: 500px;
    box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.25);


 }

 p.resumeHold {
    text-align: center;
 }

 
h2 {
    font-size: 40px;
    text-align: center;
    
}

div.linkcolumns {
    display: flex;
    
}

div.linkcolumns h5 {
    flex-grow: 1;
}